/* Menu ---------------------------------------------------------------- */

#navbar {
    padding: 15px 10px;
    background: #FDEDB166;
    background-repeat: repeat;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100vw;
    z-index: 998;
}

.background-image-1 {
    background-image: url('./images/food.png');
    background-repeat: repeat;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #BC5A33;
    margin: 20px 0;
}

#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    z-index: 999;
    background: #BDC18E;
    color: #312F1A;
    transition: all 0.3s;
    overflow: auto;
    /* overflow-y: scroll; */
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#headOne {
    display: block;
    visibility: visible;
}

#headOne.activeOne {
    display: block;
    visibility: hidden;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #928246;
}

#sidebar ul.components {
    padding-bottom: 20px;
    border-bottom: 1px solid #928246;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
    margin: 10px 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.25em;
    display: block;
}

#sidebar ul li a:hover {
    color: #BC5A33;
    background: #D7D01D;
    box-shadow: .25rem .25rem .5rem .05rem #312F1A66;
    font-size: 1.25em;
    -webkit-transition: font-size 1000ms linear;
    -moz-transition: font-size 1000ms linear;
    -o-transition: font-size 1000ms linear;
    -ms-transition: font-size 1000ms linear;
    transition: font-size 1000ms linear;
    -webkit-transition: background-color 500ms ease-out;
    -moz-transition: background-color 500ms ease-out;
    -o-transition: background-color 500ms ease-out;
    -ms-transition: background-color 500ms ease-out;
    transition: background-color 500ms ease-out;
    -webkit-transition: box-shadow 250ms ease-out;
    -moz-transition: box-shadow 250ms ease-out;
    -o-transition: box-shadow 250ms ease-out;
    -ms-transition: box-shadow 250ms ease-out;
    transition: box-shadow 250ms ease-out;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #FDEDB1;
    background: #928246;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #928246;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #312F1A;
}

a.article,
a.article:hover {
    background: #312F1A !important;
    color: #fff !important;
}

.boxMenuAF {
    background: #D7D01D;
    color: #312F1A;
    width: 25px;
    height: 25px;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 10px;
}

/* Parallax ---------------------------------------------------------------- */

.jarallax-01 {
    background-image: url('./images/bgFull.jpeg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}