/*
    DEMO STYLE
*/

/* @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"; */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200i,400,600,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i&display=swap');

:root {
    /* Color */
    --primary-color: black;
    --secondary-color: #FDEDB1;
    --orange: #BC5A33;
    --yellow: #D7D01D;
    --black: #1a1a1a;
    /* Fonts */
    --primary-font: 'Noto Serif', serif;
    --secondary-font: 'Montserrat', sans-serif;
}

body {
    font-family: var(--secondary-font);
    background: var(--black);
}

/* 
    Parallax
*/

.jarallax-01 {
    background-image: url('../images/bgFull.jpeg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jarallax-02 {
    background-image: url('../images/winter-vegetarian-or-vegan-food-cooking-PCHAFK8.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jarallax-03 {
    background-image: url('../images/close-up-of-fresh-eco-vegetables-in-coton-bags-on-KQ5824M.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jarallax-04 {
    background-image: url('../images/thanksgiving-celebration-traditional-dinner-table-PZUQLYF.jpg');
    /* height: 400px; */
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 
    Type
*/

p {
    font-family: var(--primary-font);
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.7em;
    color: #312F1A;
}

/* 
    Links
*/

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */

#navbar {
    padding: 15px 10px;
    background: #FDEDB166;
    background-repeat: repeat;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100vw;
    z-index: 998;
}

.background-image-1 {
    background-image: url('../images/food.png');
    background-repeat: repeat;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #BC5A33;
    margin: 20px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

/* .wrapper {
    display: inline-flex;
    width: 100vw;
    align-items: stretch;
} */

#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    z-index: 999;
    background: #BDC18E;
    color: #312F1A;
    transition: all 0.3s;
    overflow: auto;
    /* overflow-y: scroll; */
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#headOne {
    display: block;
    visibility: visible;
}

#headOne.activeOne {
    display: block;
    visibility: hidden;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #928246;
}

#sidebar ul.components {
    padding-bottom: 20px;
    border-bottom: 1px solid #928246;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
    margin: 10px 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #BC5A33;
    background: #D7D01D;
    box-shadow: .25rem .25rem .5rem .05rem #312F1A66;
    font-size: 1.25em;
    -webkit-transition: font-size 1000ms linear;
    -moz-transition: font-size 1000ms linear;
    -o-transition: font-size 1000ms linear;
    -ms-transition: font-size 1000ms linear;
    transition: font-size 1000ms linear;
    -webkit-transition: background-color 500ms ease-out;
    -moz-transition: background-color 500ms ease-out;
    -o-transition: background-color 500ms ease-out;
    -ms-transition: background-color 500ms ease-out;
    transition: background-color 500ms ease-out;
    -webkit-transition: box-shadow 250ms ease-out;
    -moz-transition: box-shadow 250ms ease-out;
    -o-transition: box-shadow 250ms ease-out;
    -ms-transition: box-shadow 250ms ease-out;
    transition: box-shadow 250ms ease-out;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #FDEDB1;
    background: #928246;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #928246;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #312F1A;
}

a.article,
a.article:hover {
    background: #312F1A !important;
    color: #fff !important;
}

.boxMenuAF {
    background: #D7D01D;
    color: #312F1A;
    width: 25px;
    height: 25px;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 10px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse1 {
    border: none;
    border-radius: 0;
    text-align: left;
}

.centerMiddle {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.display-4 {
    background: #312F1AE0;
    color: #D5A052;
    padding: 30px;
    border-radius: 15px;
}

.h6title {
    background: #BDC18E;
    color: #312F1A;
    padding: 10px 20px;
    margin-bottom: 10px;
    width: 100%;
    letter-spacing: 1px;
}

.btnFooter {
    position: absolute;
    bottom: 20px;
    width: 90%;
    left: 5%;
    right: 5%;
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #BDC18E;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 45px;
    height: 25px;
    background: #312F1A;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 45px;
    height: 25px;
    background: #312F1A;
    cursor: pointer;
}

/* ---------------------------------------------------
    HERO IMAGE
----------------------------------------------------- */

body {
    background-image: url('../images/2.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ---------------------------------------------------
    ABOUT
----------------------------------------------------- */

#about {
    background-color: #BDC18Ecc;
}

#about h2 {
    padding-bottom: 20px;
    color: var(--black);
}

#about h4 {
    padding: 20px 0px;
    color: var(--orange);
}

#howItWorks {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    grid-template-rows: 50px 1fr;
    grid-auto-flow: column;
}

#howItWorks i {
    font-size: 30px;
}

/* ---------------------------------------------------
    RECEPIE
----------------------------------------------------- */

.rowReceip {
    display:grid;
    grid-gap: 20px;
    grid-auto-flow: column;
    align-self: end;
}

.y1 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px auto;
    align-self: end;
}